

.body{
  background-color: #f5f2e8;
  min-height: 1000px;
}

.session-header{
  background-color: #fc0;
  height: 55px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header-user {
  height: 40px;
  border-radius: 20px;
  margin: 4px;
}


#header-button{
  height: 45px;
  line-height: 1rem;
  margin: 5px 20px;
  width: 118px;
  //   border: 2px solid #fff;
  //   border-radius: 4px;
  //   color: #fff;
  //   // margin: 0 0 1rem;
  //   margin: 0 50px 0 0;
  //   padding: 15px 20px;
  //   vertical-align: middle;
  //   text-align: center;
}
