.login-signup-header{
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 20px;
}

.login-signup-upper{
  // position: fixed;
  // display: inline-flex;
  display: flex;
  flex-direction: row;
}

.splash-header-right{
  display: inline-flex;
}

.splash-btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 1em;
  margin: 0 0 1rem;
  margin-right: 15px;
  padding: 15px 20px;
  min-width: 100px;
  height: 1rem;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.splash-btn:hover {
  background-color: #fff;
  font-weight: 600;
  color: #000;
}

.splash-right{
  display: flex;
}

.splash{
  display: flex;
  justify-content: space-between;
}

.splash-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;

  .subheader{
    font-size: 0.5rem;
    color: white;
    font-weight: 400;
    letter-spacing: 3px;
  }
}

.short-bar {
  background: #ffc000;
  height: 4px;
  width: 50px;
  margin: 20px auto;
}

i.fab.fa-untappd {
  font-size: 6rem;
  color: white;
  text-align: center;
}

.splash-logo{
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  padding: 10px 0 0 0;
}

.flipH {
  transform: scale(-1, 1);
  // color: #1c87c9;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

div .logo{
  // border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  margin: 5px;
}

.splash-picture {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.logo-message {
  font-size: 40px;
  font-weight: 600;
  padding: 10px 30px 30px 30px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  word-wrap: normal;
}

.spacing {
  height: 100px;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid #ccc;
  background-color: #ffffff; 
}

.feature-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
}

.splash-main-wrapper{
  display: flex;
  flex-direction: column;
}

.feature-content {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

.feature-title {
  text-align: center;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 1.5625rem;
  font-weight: 700;
  padding: 3px;
}

.feature-body {
  text-align: center;
  margin-bottom: 16px;
  width: 600px;
  font-size: 20.8px;
  font-weight: lighter;
}
