// Place all the styles related to the Api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

* {
  font-family: 'Noto Sans', sans-serif;
}

.login-background{
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url('https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100%;
  max-height: 100%;

  box-sizing: border-box;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 28px auto 64px;
  padding: 0 12px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px 20px;
  width: 300px;
  height: 400px;
  border: 2px solid gray;
  text-align: center;
  background: #ffffff;
}

button{
  width: 240px;
  padding: 12px 0;
  // margin-bottom: 8px;
  margin: 8px, 5px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  border: none;
  // border-color: (rgb(118, 118, 118), rgb(195, 195, 195));
}

.demo-button{
  background-color: rgb(53, 77, 137);
  color: #ffffff;
}

.signin-button{
  color: #ffffff;
  background-color: #ffcc00
}

.input-text{
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 18px 2px 0;  
  font-size: 1em;
  // width: 100%;
  // padding-left: 12px;
  display: flex;
  justify-content: space-evenly;
  // text-align: center;
  vertical-align: middle;
}

h3{
  text-transform: uppercase;
  color: #666;
  // font-stretch: expanded;
}

h3 .subheader{
  letter-spacing: 2px;
  font-weight: bolder;
}

input{
  border-left: 2px solid #ccc;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

form{
  // width: 290px;
  height: 130px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-here{
  border-top: 1px solid #ccc;;
  display: flex;
  color: #666;
  font-weight: 500;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  
}

a {
  color: #c60;
}


